.AngryButton_logo {
  height: 40vmin;
  pointer-events: none;
}

.AngryButton_button {
  margin: 2.5rem 0;
  transition: 20ms all ease-in;
  filter: invert(0);

  &:active {
    transform: scale(1.1);
    // filter: invert(1);
    filter: invert(1);
  }
}

.AngryButton_paragraph {
  margin-bottom: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .AngryButton_logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
