.CreditsButton {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.CreditsButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.CreditsButton:active {
  background-color: rgb(220, 220, 220);
  color: rgb(255, 255, 255);
}

.creditsPopUpBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background: rgba(78, 78, 78, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  cursor: default;
}
.TopBar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: blue;
}

.creditsButtonOverLayMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  margin: auto;
  height: 50%;
  width: 50%;
  background-color: whitesmoke;
  box-shadow: 5rem;
}

.creditsButtonOverLayMenu__header {
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 90, 91);
  color: rgb(255, 255, 255);
  width: 95%;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.closeButton {
  width: 15%;
  text-align: center;
  margin: auto;
  background-color: rgb(231, 9, 76);
  height: 2rem;
  transition: ease-in-out 0.2s;

}
.closeButton:hover {
  background-color: rgb(255, 64, 121);
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
}
.closeButton:active {
  background-color: rgb(122, 37, 54);
  color: rgb(255, 255, 255);
  transition: ease-in-out 0.2s;
}
.creditsButtonOverLayMenu__body {
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
 }
