.GambleWrapper {
  width: auto;
  height: 15%;
  @apply bg-rose-100;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  user-select: none;

  &__Title {
    @apply text-red-900 font-bold text-2xl;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }

  &__Wrapper {
    height: 100%;
    position: relative;
  }

  &__Won {
    @apply bg-green-400;
  }

  &:hover {
    @apply bg-emerald-200;
  }

  &:active {
    @apply bg-emerald-300;
  }
}

@mixin BaseButton {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  height: 40%;
  width: 100%;
  border-radius: 10px;
}

.AllInButton {
  @include BaseButton;
  color: black;
  font-size: larger;
  height: 25%;
}

.WinButton {
  @include BaseButton;
  @apply bg-green-400;
}

.LoseButton {
  @include BaseButton;
  @apply bg-red-400;
}

.GambleAdvertisment {
  @include BaseButton;
  @apply bg-blue-400;
}

.NotEnoughMoneyButton {
  @include BaseButton;
  @apply bg-red-300;
  color: black;

  // create animation that hides the button after 5 seconds if not clicked
  animation: hide 6s;
  animation-fill-mode: forwards;
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
