.PopUpComponent_container {
  display: flex;
  flex-direction: column;
}

.PopUpComponent_button {
display: block;
}

.PopUpComponent_popUpAd {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: fixed;
  bottom: 1.25rem;
  right: 1rem;
  background-color: rgba($color: #0b0f18e6, $alpha: 0.9);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  z-index: 9999;
  animation: popUp 2s 1 60s forwards;
  transform: translateY(200%);
}

@keyframes popUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.PopUpComponent_title {
  font-size: calc(10px + 2vmin);
  font-weight: 1000;
  color: red;
}

.PopUpComponent_link {
  margin: 0.5rem 0;
  color: #61dafb;
}
